<div class="p-3">
  <h1 class="text-center my-5">Welcome to Open blog </h1>
  <div class="w-100 d-flex justify-content-center">
    <%= image_tag "banner.svg", :style => "width: 50%;" %>
  </div>
</div>
