<footer class="footer mt-auto py-3 bg-dark">
  <div class="container d-flex justify-content-between">
    <div class="text-muted">Copyright &copy; 2021 <span class="text-white">Open blog</span> by <%= link_to "Instriation", "https://instriation.com", target: "_blank" %></div>
    <div class="text-muted">
      <%= link_to "About", about_path %>
    </div>
  </div>
</footer>
